body{
    background-color: lightgray;
}

.wbdv-login-form{
    height: 100vh;
    margin: auto;
    width: 450px;
    max-width: 100%;
    padding: 10px;
}

.wbdv-login-form h1{
    text-align: center;
    font-weight: bolder;
    padding: 15px;
}

.form-group{
    margin: 10% 5% 10% 5%;
}

